

.grid_item1 { grid-area: timer; }
.grid_item2 { grid-area: chat; }

.grid-container {
  display: grid;
  grid-template-areas:
    'timer timer timer chat chat'
    'timer timer timer chat chat'
    'timer timer timer chat chat';
  gap: 10px;
  padding: 10px;
}






.sidebar{
  z-index: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 329px;
    height: 740px;
}

.Container{
    display: flex;
    place-items: center;
    justify-content: space-evenly;
}

.Container2{
    display: flex;
    place-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


.Container3{
    display: flex;
    place-items: center;
    justify-content: flex-end;
    align-items: flex-start;
}

.Container4{
  display: flex;
  align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

/*flipping tips css*/
.turn{
    overflow: hidden;
        position: relative;
        float: right;
        height: 100px;
        padding-top: 10px;
        margin-top: -10px;
        position: absolute;
      top: 70%;
      left: 48%;
      transform: translate(-50%, -50%);
  }
  
  .text-box {
    color: #fafafa;
    font-weight: 700;
    height: 45px;
    margin-bottom: 45px;
    display: block; /*removes the bullet point from the list*/
  }
  
  
  
  
  .flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  .flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  .flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  .flip5 { animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  .flip6 { animation: flip6 14s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
  
  @keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -180px; }
  }
  
  @keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
  }
  
  @keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -360px; }
  }
  
  @keyframes flip5 {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    20% { margin-top: -360px; }
    25% { margin-top: -270px; }
    40% { margin-top: -270px; }
    45% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    80% { margin-top: -90px; }
    85% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -450px; }
  }
  
  @keyframes flip6 {
    0% { margin-top: -540px; }
    5% { margin-top: -450px; }
    15% { margin-top: -450px; }
    20% { margin-top: -360px; }
    30% { margin-top: -360px; }
    35% { margin-top: -270px; }
    45% { margin-top: -270px; }
    50% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -540px; }
  }

  /*flipping text CSS end*/
  @keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
  }
  
  .monitor-wrapper{
    background: #ffffff;
    width: 538px;
    height: 166px;
    box-shadow: #868585;
    margin: auto;
    border-radius: 5px;
    border: 5px solid black;
    }
  
  
    .monitor {
      background: #000000;
      width: 526px;
      height: 153px;
      overflow: hidden;
      white-space: nowrap;
      box-shadow: inset 0px 5px 10px 2px rgba(0,0,0,0.3);
      margin: 6px;
      border-radius: 10px;
      }
      
        .tips-text {
          transform: translate(0%, 0%);
          color: #32d58c;
          font-family: 'Inter', sans-serif;
          font-size: clamp(21px, 3.5vw, 50px);
          font-weight: bold;
          z-index: 1;
          text-align: center;
        }

  